<!DOCTYPE html>
<html lang="en">
<head>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S2_Synthesis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <nav class="flex-container">
        <div class="logo"><img class="logo-element" src="~/img/books.png" alt="" /></div>
        <div class="toggle-button-container">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a asp-page="/Index">DuelSys Inc.</a></li>
                <li><a asp-page="/Register">Register</a></li>
                <li><a asp-page="/Login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
